* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #BA4FF7;
  font-family: 'Poppins';
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 15% 10%;
  padding: 20px 20px;
  max-width: 650px;
  
}

.Red {
  background-color: red;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 50px;
  cursor: pointer;

}

.Blue {
  background-color: blue;
  border-radius: 50%;
  margin: 50px;
  width: 120px;
  height: 120px;
  cursor: pointer;


}

.Yellow {
  background-color: yellow;
  border-radius: 50%;
  margin: 50px;
  width: 120px;
  height: 120px;
  cursor: pointer;

}

.Black {
  background-color: black;
  border-radius: 50%;
  cursor: grab;
  margin: 10px;
  width: 50px;
  height: 50px;

}

body::-webkit-scrollbar {
  width: 1em;
}

.navBar {
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 40px;
  font-size: 20px;
}

.navBar h1 {
  font-size: 40px;
}